.input {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  font-size: 32px;
}

.small {
  width: 9rem;
  height: 1rem;
}
.medium {
  width: 11rem;
  height: 2rem;
}
.large {
  width: 13rem;
  height: 3rem;
}
