.modalContainer {
  width: 99.7%;
  height: 98.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  width: 25rem;
  height: 5rem;
  border: 5px solid red;
  background-color: blueviolet;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
